<!-- A question form -->
<div class="col-lg-8">
  <div class="well bs-component">
    <form class="form-horizontal" {{action 'createQuestion' on="submit"}}>
      <fieldset>
        <legend>Your question</legend>
        <div class="form-group">
          <label for="author" class="col-lg-2 control-label">Author</label>
          <div class="col-lg-5">
            {{input type="text" class="form-control" value=author}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputTitle" class="col-lg-2 control-label">Title</label>
          <div class="col-lg-5">
            {{input type="text" class="form-control" id="inputTitle" value=inputTitle placeholder="title"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputText" class="col-lg-2 control-label">Question</label>
          <div class="col-lg-10">
            {{textarea rows="3" class="form-control" id="inputQuestion" value=inputQuestion placeholder="your question"}}
          </div>
        </div>
        <div class="form-group">
          <label for="inputImageUrl" class="col-lg-2 control-label">Image link</label>
          <div class="col-lg-10">
            {{input value=inputImageUrl class="form-control" id="inputImageUrl" placeholder="your image"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
