<!-- A blog post -->
<section class="post">
    <header class="post-header">
        <img width="250" class="post-avatar" src="{{model.image}}">

        <h2 class="post-title">{{model.title}}</h2>

        <p class="post-meta">
            By {{model.author}}, posted on {{model.timestamp}}
        </p>
    </header>

    <div class="post-text">
        <p>{{model.question}}</p>
    </div>


</section>
