<!-- A blog post -->
<section class="post">
    <header class="post-header">
        <img width="350" class="post-avatar" src="{{model.image}}">

        <h2 class="post-title">{{model.title}}</h2>

        <p class="post-meta">
            By {{model.author}}, posted on {{model.timestamp}}
        </p>
    </header>

    <div class="post-text">
        <p>{{model.question}}</p>
        <p>{{model.notes}}</p>
    </div>

    <div id="edit">
       <button type="button" class="btn btn-default">{{#link-to 'edit-question' model}}Edit question{{/link-to}}</button>
    </div>
<div>
<br>
<h4>Answers:</h4>
    {{#each model.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
    <br>
{{new-answer createAnswer='createAnswer' question=model}}
</div>
</section>
